__pycache__/
__pycache__/board.cpython-311.pyc
.gitignore
__pycache__/font.cpython-311.pyc
images/sunsetimaginarypersonaluse-almyd.otf
__pycache__/buttons.cpython-311.pyc
__pycache__/data.cpython-311.pyc
__pycache__/game.cpython-311.pyc
__pycache__/sudoku.cpython-311.pyc
